html
  font-size: 15px
  font-family: Helvetica, sans-serif, Arial
a
  text-decoration: none
  color: $link-color
p
  margin: 0
  color: $font-color
ul
  margin: 0
  padding-inline-start: 20px;
blockquote
  margin: $base-padding 0
  border-left: 3px solid darksalmon
  p
    color: darken($font-color, 50%)  
.flex-row
  display flex
  flex-direction row
.hidden
  display: none
.capitalize
  text-transform: capitalize    