
$prefix = 'px'
$white = #FFF
$nprogressColor = #FF652F
$base-color = #ccc
$theme-color = #03a9f4
$font-color = #333
$link-color = #777
$tag-color = #FF652F
$category-color = #14A76C
$comment-color = green
$bg-code = #333
$link-color-hover =  #FF652F
$border-color = #f2f2f2
$border-radius = 5px

$primary = #673ab7,
$secondary= #9c27b0,
$accent= #ffc107,
$error= #cddc39,
$warning= #ff5722,
$info= #795548,
$success= #3f51b5

$base-padding = 15px
$head-height = 60px

